<section class="register">
    <div class="flex min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
        <div class="w-full max-w-md space-y-8">
     
          <form class="mt-8 space-y-6 bg-white p-8" action="#" method="POST">
           
            <div class="-space-y-px rounded-md shadow-sm ">
                <div>
                    <label for="name" class="sr-only ">Name</label>
                    <input id="name" name="name" type="text" autocomplete="name" required class="relative mb-4 block w-full appearance-none rounded-none rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-orange-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" placeholder="Full Name">
                </div>
              <div>
                <label for="email-address" class="sr-only ">Email address</label>
                <input id="email-address" name="email" type="email" autocomplete="email" required class="relative mb-4 block w-full appearance-none rounded-none rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-orange-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" placeholder="Email address">
              </div>
              <div>
                <label for="password" class="sr-only">Password</label>
                <input id="password" name="password" type="password" autocomplete="current-password" required class="relative block w-full mb-4 appearance-none rounded-none rounded-b-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-orange-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" placeholder="Password">
              </div>

              <div>
                <label for="confirm" class="sr-only">Confirm Password</label>
                <input id="confirm" name="cpassword" type="password" autocomplete="current-password" required class="relative block w-full appearance-none rounded-none rounded-b-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-orange-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" placeholder="Confirm Password">
              </div>
            </div>
      
        
      
            <div>

              <button type="submit" class="w-full rounded-md py-2 px-4 text-sm font-medium btn-primary">
               Register
              </button>
            </div>
           
          </form>
        </div>
      </div> 
</section>